fastapi
uvicorn
sqlalchemy
psycopg2-binary
geoalchemy2
shapely
python-dotenv
pydantic
jq
geojson_pydantic
pydantic[email]
langchain_community
langchain_huggingface
langchain-anthropic
sentence-transformers